@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

body {
    background-color: rgb(165, 240, 250);    
}
img {
    height: auto;
    width: auto;
    border-radius: 15px;
}


.align{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.size2{
    /* height: 350px; */
    width: 300px;
    margin:auto;
}

.mar{
    margin-top: 10px;
}

.img2{
    height: 250px;
    width: 300px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.link1{
    color:black;
}

.link1:hover{
    color:grey;
}

.pf-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }
  
.pf-wrapper3 {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: -20px 70px;
    margin-bottom: 50px;
    /* box-shadow: 7px 7px 15px #474747;  */
    /* filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));  */
}

.pic--wrap {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    overflow : "hidden";
}
.img__description {
    border-bottom: 100px;
    margin: auto;
    background: rgba(15, 15, 15, 0);
    color: rgb(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}
  
.pic--wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
  }
strong {
    font-family: 'Dosis', sans-serif;
    bottom: 2px;
    font-size: 18px;
}

.revCard{
    width: 35rem;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 1200px) {
    .revCard{
        width: 30rem;
        margin-bottom: 20px;
    
    }
      
  }
  @media only screen and (max-width: 992px) {
    .revCard{
        width: 40rem;
        margin-bottom: 20px;
    
    }
      
  }
  @media only screen and (max-width: 767px) {
    .revCard{
        width: 35rem;
        margin-bottom: 20px;
    
    }
      
  }
  @media only screen and (max-width: 640px) {
    .revCard{
        width: 30rem;
        margin-bottom: 20px;
    
    }
  }
  @media only screen and (max-width: 540px) {
    .revCard{
        width: 25rem;
        margin-bottom: 20px;
    
    }
  }