.new{
    padding: 50px;
    display: flex;
    flex-direction: column;
    
}
.hello {
    display: flex;
    flex-direction: column;
}
.coin--item {
    margin-bottom: 50px;
}
.coin--container {
    display: flex;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
  }

.coin--wrapper {
    justify-content: center;
    margin: 0px 40px;
    max-width: 75%;
    position: relative;
    padding: 0px 10px;
  }

  @media only screen and (max-width: 1000px) {
    .coin--container {
        display: flex;
        align-items: center;
        width: 90%;
      }
    .coin--wrapper {
        justify-content: center;
        max-width: 75%;
        position: relative;
        padding: 0px;
        margin: 0px 30px;
      }
      
  }
  @media only screen and (max-width: 650px) {
    .coin--item {
        max-width: 70%;
        max-width: 60%;
        margin: auto;
    }
    .coin--container {
        display: flex;
        align-items: center;
        width: 40%;
      }
    .coin--wrapper {
        justify-content: center;
        max-width: 100%;
        position: relative;
        padding: 0px;
        margin: 0px;
      }
      
  }