.messenger {
    height: calc(100vh - 124px);
    display: flex;
  }
  
  .chatMenu {
    flex: 3.5;
  }
  
  .chatMenuInput {
    width: 90%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .chatBox {
    flex: 6.5;
  }
  
  .chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
  }
  
  .chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;
    border:1px solid gray;
    
  }
  input::placeholder{
    color:gray;
  }
  
  .chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
  }
  
  .chatOnline {
    flex: 4;
  }
  
  .chatMenuWrapper,
  .chatBoxWrapper,
  .chatOnlineWrapper {
    padding: 10px;
    height: 100%;
    display:flex;
    padding-top: 0;
    margin-top:45px;
    flex-direction:column
  }
  .chatBoxWrapper{
    margin-top: 0;
  }
  .noConversationText {
    position: absolute;
    top: 10%;
    font-size: 3rem;
    color: white;
    cursor: default;
  }
  .Friend{
    font-size: 1.5em;
    background-color:rgb(0, 49, 68);
    width:100%;
    height:10%;
    text-align: center;
    vertical-align: middle;
    padding-top:3px;
    display: inline;
    color:white;
  }
  a{
    color:white;
  }
  a:hover{
    color:white;
    text-decoration: none;
  }
  
  .friendLink:hover{
    transform: scale(1.5);
    
  }
  @media screen and (max-width: 768px) {
    .chatMenu {
      flex: 6.5;
    }
  
    .chatMenuInput {
      display: none;
    }
  
    .chatBox{
      flex: 10;
    }
  
    .chatOnline{
      display:none; 
    }
  }